################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs

/# Build results
bin/
obj/
out/
**/bin/
**/obj/
**/out/


# VS Code files
.vscode/

